<div class="breadcrumbs">
  <div class="col-sm-4">
    <div class="page-header float-left">
      <div class="page-title">
        <h1>
          Utilisateurs
        </h1>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="page-header float-right">
      <div class="page-title">
        <ol class="breadcrumb text-right">
          <li class="active">Utilisateurs</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<p id="notice"><%= notice %></p>
<div class="content mt-3">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <strong class="card-title">
              Utilisateurs
              <div class="float-right">
                <%= link_to raw("<i class='fa fa-plus' aria-hidden='true'></i> Ajouter"), new_ad_user_path, class: "btn btn-primary btn-sm" %>
              </div>
            </strong>
          </div>
          <div class="card-body">
            <table id="bootstrap-data-table" class="table table-striped table-bordered">
              <thead>
              <tr>
                <th>Nom / Prénon</th>
                <th>Email</th>
                <th>Numero de permis</th>
                <th>Points de fideliter</th>
                <th colspan="3">Actions</th>
              </tr>
              </thead>
              <tbody>
              <% @users.each do |user| %>
                <tr>
                  <td>
                    <%= user.last_name %>
                    <br>
                    <%= user.first_name %>
                  </td>
                  <td><%= user.email %></td>
                  <td><%= user.number_permie %></td>
                  <td><%= user.fidelity %></td>
                  <td><%= link_to raw("<i class='fa fa-eye' aria-hidden='true'></i> Voir"), ad_user_path(user),class: "btn btn-primary btn-sm" %></td>
                  <td><%= link_to raw("<i class='fa fa-edit' aria-hidden='true'></i> Modifier"), edit_user_path(user),class: "btn btn-info btn-sm" %></td>
                  <td><%= link_to raw("<i class='fa fa-trash' aria-hidden='true'></i> Supprimer"), user, method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-danger btn-sm" %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
            <%= will_paginate @users %>
          </div>
        </div>
      </div>
    </div>
  </div><!-- .animated -->
</div><!-- .content -->

</div><!--DO NOT DELETE close right-panel in header.html.erb DO NOT DELETE-->
