<div class="row">
  <div class="col-md-6 col-sm-12 form-group">
    <%= f.label :last_name, "Nom" %>
    <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class: "form-control input-md", placeholder: "Nom" %>
  </div>
  <div class="col-md-6 col-sm-12 form-group">
    <%= f.label :first_name, "Prénom" %>
    <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: "form-control input-md", placeholder: "Prénom" %>
  </div>
</div>
<div class="row">
  <div class="col-md-12 form-group">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control input-md", placeholder: "Email", placeholder: "ex: morgane@emove.com" %>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-sm-12 form-group">
    <%= f.label :password, "Mot de passe" %>
    <%= f.password_field :password, autocomplete: "off", class: "form-control input-md" %>
  </div>
  <div class="col-md-6 col-sm-12 form-group">
    <%= f.label :password_confirmation, "Confirmation mot de passe" %>
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control input-md" %>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-sm-12 form-group">
    <%= f.label :phone, "Numéro de téléphone" %>
    <%= f.text_field :phone, autofocus: true, autocomplete: "phone", class: "form-control input-md", placeholder: "ex: 0616710000" %>
  </div>
  <div class="col-md-6 col-sm-12 form-group">
    <%= f.label :number_permie, "Numéro de Permis" %>
    <%= f.text_field :number_permie, autofocus: true, autocomplete: "number_permie", class: "form-control input-md", placeholder: "ex: 911091204000" %>
  </div>
</div>
<div class="row">
  <div class="col-md-5 col-sm-12 form-group">
    <%= f.label :street, "Adresse" %>
    <%= f.text_field :street, autofocus: true, autocomplete: "street", class: "form-control input-md", placeholder: "ex: 13 Rue des amoureux" %>
  </div>
  <div class="col-md-4 col-sm-12 form-group">
    <%= f.label :city, "Ville" %>
    <%= f.text_field :city, autofocus: true, autocomplete: "city", class: "form-control input-md", placeholder: "ex: Nîmes" %>
  </div>
  <div class="col-md-3 col-sm-12 form-group">
    <%= f.label :zipcode, "Code postal" %>
    <%= f.text_field :zipcode, autofocus: true, autocomplete: "zipcode", class: "form-control input-md", placeholder: "ex: 30000" %>
  </div>
</div>