<section class="header-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 my-5">
        <h1 class="text-center mt-3">EMove</h1>
      </div>
    </div>
  </div>
</section>

<section>
  <p id="notice"><%= notice %></p>
  <div class="container">
    <div class="row">
      <div class="col-md-12 my-3">
        <h2>Inscription :</h2>
        <hr>
      </div>
    </div>
    <div class="row mb-5">
      <div class="container-fluid no-margin-top">
        <div class="form-horizontal">
          <div class="col-md-8 offset-md-2">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= devise_error_messages! %>
              <%= render 'form', f: f %>
              <div class="form-group">
                <div class="actions">
                  <%= f.submit "S'inscrire", class: "btn btn-success btn-block" %>
                </div>
              </div>
            <% end %>

            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>