<%= form_with(model: brand, local: true, url: ad_brands_path) do |form| %>
  <% if brand.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(brand.errors.count, "error") %> prohibited this brand from being saved:</h2>
      <ul>
        <% brand.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <div class="row">
      <div class="col-lg-4 mb-5">
        <div class="row form-group">
          <p class="mx-auto"><%= image_tag(@brand.logo_url) if @brand.logo? %></p>
        </div>
        <div class="row form-group my-auto">
          <div class="col-12 col-md-12">
            <%= form.file_field :logo, id: :brand_logo, class: "form-control-file" %>
            <%= form.hidden_field :logo_cache %>
          </div>
        </div>
      </div>
      <div class="col-lg-8 mt-auto mb-auto">
        <div class="row form-group">
          <div class="col col-md-2">
            <%= form.label :name, "Nom", class: "form-control-label"%>
          </div>
          <div class="col-12 col-md-10">
            <!--<input type="text" id="text-input" name="text-input" placeholder="Text" class="form-control">-->
            <%= form.text_field :name, class: "form-control", placeholder: "Nom" %>
          </div>
        </div>
        <div class="row form-group">
          <div class="col col-md-2">
            <%= form.label :history, "Histoire", class: "form-control-label" %>
          </div>
          <div class="col-12 col-md-10">
            <%= form.text_area :history, rows: "7", class: "form-control", placeholder: "Histoire..." %>
          </div>
        </div>
      </div>
    </div>
    <div class="row float-right mt-5">
      <%= form.submit "Enregistrer", class: "btn btn-success btn-lg" %>
      <button type="reset" class="btn btn-danger btn-lg">
        <%= link_to "Annuler", ad_brands_path, class:"color-white" %>
      </button>
    </div>
  </div>
<% end %>