<div class="breadcrumbs">
  <div class="col-sm-4">
    <div class="page-header float-left">
      <div class="page-title">
        <h1>
          Marques
        </h1>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="page-header float-right">
      <div class="page-title">
        <ol class="breadcrumb text-right">
          <li class="active">Marques</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<p id="notice"><%= notice %></p>
<div class="content mt-3">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <strong class="card-title">
              Marques
              <div class="float-right">
                <%= link_to raw("<i class='fa fa-plus' aria-hidden='true'></i> Ajouter"), new_ad_brand_path, class: "btn btn-primary btn-sm" %>
              </div>
            </strong>
          </div>
          <div class="card-body">
            <table id="bootstrap-data-table" class="table table-striped table-bordered">
              <thead>
              <tr>
                <th>Logo</th>
                <th>Nom</th>
                <th colspan="2">Actions</th>
              </tr>
              </thead>
              <tbody>
              <% @brands.each do |brand| %>
                <tr>
                  <td>
                    <img src="<%= brand.logo_url %>"
                         alt="<%= %>"
                         class="img-thumbnail"
                         width="100px"
                         height="100px">
                  </td>

                  <td><%= brand.name %></td>
                  <td><%= link_to raw("<i class='fa fa-eye' aria-hidden='true'></i> Voir"), ad_brand_path(brand), class: "btn btn-primary btn-sm" %></td>
                  <td><%= link_to raw("<i class='fa fa-edit' aria-hidden='true'></i> Modifier"), edit_ad_brand_path(brand), class: "btn btn-info btn-sm" %></td>
                  <%#= link_to 'Sup', brand, method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-danger btn-sm" %>
                </tr>
              <% end %>
              </tbody>
            </table>
            <%= will_paginate @brands %>
          </div>
        </div>
      </div>
    </div>
  </div><!-- .animated -->
</div><!-- .content -->

</div><!--DO NOT DELETE close right-panel in header.html.erb DO NOT DELETE-->