<div class="breadcrumbs">
  <div class="col-sm-4">
    <div class="page-header float-left">
      <div class="page-title">
        <h1>
          Nouvelle marque
        </h1>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="page-header float-right">
      <div class="page-title">
        <ol class="breadcrumb text-right">
          <li class="active">
            <%= link_to 'Marques', ad_brands_path %> / Nouveau
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
<p id="notice"><%= notice %></p>
<div class="content mt-3">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <strong class="card-title">Nouvelle marque</strong>
          </div>
          <div class="card-body">
            <div id="pay-invoice">
              <div class="card-body">
                <div class="card-title">
                  <h3 class="text-center mb-5">Nouvelle marque</h3>
                </div>
                <%= render 'form', brand: @brand %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div><!--DO NOT DELETE close right-panel in header.html.erb DO NOT DELETE-->