<div class="breadcrumbs">
  <div class="col-sm-4">
    <div class="page-header float-left">
      <div class="page-title">
        <h1>
          <%= @brand.name %>
        </h1>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="page-header float-right">
      <div class="page-title">
        <ol class="breadcrumb text-right">
          <li class="active"><%= link_to 'Marques', ad_brands_path %> / <%= @brand.name %></li>
        </ol>
      </div>
    </div>
  </div>
</div>
<p id="notice"><%= notice %></p>
<div class="content mt-3">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <strong class="card-title">
              A propos
              <div class="float-right">
                <%= link_to raw("<i class='fa fa-edit' aria-hidden='true'></i> Modifier"), edit_ad_brand_path(@brand), class: "btn btn-info btn-sm" %>
              </div>
            </strong>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3 col-md-6 text-center">
                <img src="<%= @brand.logo_url %>"
                     alt="<%= %>"
                     class="img-thumbnail"
                     width="200px"
                     height="200px">
              </div>
              <div class="col-sm-9 col-md-6">
                <h4><%= @brand.name %></h4>
                <hr>
                <p><%= @brand.history %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content mt-3">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <strong class="card-title">
              Liste des modèles
            </strong>
          </div>
          <div class="card-body">
            <table id="bootstrap-data-table" class="table table-striped table-bordered">
              <thead>
              <tr>
                <th>Nom</th>
                <th>Nombre de voiture</th>
                <th colspan="2">Actions</th>
              </tr>
              </thead>
              <tbody>
              <% @brand.models.each do |model| %>
                <tr>
                  <td><%= model.name %></td>
                  <td><%= model.vehicles.count %></td>
                  <td><%= link_to raw("<i class='fa fa-edit' aria-hidden='true'></i> Modifier"), edit_ad_model_path(model), class: "btn btn-info btn-sm" %></td>
                  <td><%= link_to raw("<i class='fa fa-trash' aria-hidden='true'></i> Supprimer"), model, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-danger btn-sm" %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div><!--DO NOT DELETE close right-panel in header.html.erb DO NOT DELETE-->
