<div class="breadcrumbs">
  <div class="col-sm-4">
    <div class="page-header float-left">
      <div class="page-title">
        <h1>
          Dashboard
        </h1>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="page-header float-right">
      <div class="page-title">
        <ol class="breadcrumb text-right">
          <li class="active">Dashboard</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<p id="notice"><%= notice %></p>
<div class="content mt-3">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-md-6">
        <div class="text-center mb-3 py-2" style="background-color: white">
          <h3>
            Les 5 dernières factures
          </h3>
        </div>
        <% @bills.each do |bill| %>
          <div class="card mb-5">
            <div class="card-header">
              <strong class="card-title">
                Facture n°: <%= bill.id %>
              </strong>
            </div>
            <div class="card-body">
              <table class="table table-bordered">
                <tr class="table-light text-center">
                  <th colspan="2">Vehicule</th>
                </tr>
                <tr>
                  <th>Marque</th>
                  <td>
                    <%= link_to bill.leasing.vehicle.model.brand.name, ad_vehicle_path(bill.leasing.vehicle), class: "btn btn-link btn-sm" %>
                  </td>
                </tr>
                <tr>
                  <th>Model</th>
                  <td><%= bill.leasing.vehicle.model.name %></td>
                </tr>
                <tr class="table-light text-center">
                  <th colspan="2">Utilisateur</th>
                </tr>
                <tr>
                  <th>Nom</th>
                  <td>
                    <%= link_to bill.leasing.user.first_name, ad_user_path(bill.leasing.user), class: "btn btn-link btn-sm" %>
                  </td>
                </tr>
                <tr>
                  <th>Email</th>
                  <td>
                    <%= bill.leasing.user.email %>
                  </td>
                </tr>
                <tr>
                  <th>Téléphone</th>
                  <td>
                    <%= bill.leasing.user.phone %>
                  </td>
                </tr>
                <tr class="table-light text-center">
                  <th colspan="2">Détails Location</th>
                </tr>
                <tr>
                  <th>Début</th>
                  <td><%= bill.leasing.beginning_date %></td>
                </tr>
                <tr>
                  <th>Fin</th>
                  <td><%= bill.leasing.end_date %></td>
                </tr>
                <tr>
                  <th>Date limite</th>
                  <td><%= bill.deadline %></td>
                </tr>
                <tr>
                  <th>Payé ?</th>
                  <td> <%= bill.paid %></td>
                </tr>
                <tr>
                  <th>Total</th>
                  <td><%= bill.total %> €</td>
                </tr>
                <tr class="table-light text-center">
                  <th colspan="2">Action</th>
                </tr>
                <tr>
                  <td><%= link_to raw("<i class='fa fa-eye' aria-hidden='true'></i> Voir"), ad_bill_path(bill), class: "btn btn-primary btn-block" %></td>
                  <td><%= link_to raw("<i class='fa fa-edit' aria-hidden='true'></i> Modifier"), edit_ad_bill_path(bill), class: "btn btn-info btn-block" %></td>
                </tr>
              </table>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-md-6">
        <div class="text-center mb-3 py-2" style="background-color: white">
          <h3>
            Les 5 dernières demande de location
          </h3>
        </div>

        <% @leasings.each do |leasing| %>
          <div class="card mb-5">
            <div class="card-header">
              <strong class="card-title">
                Demande n°: <%= leasing.id %>
              </strong>
            </div>
            <div class="card-body">
              <table class="table table-bordered">
                <tr class="table-light text-center">
                  <th colspan="2">Statut</th>
                </tr>
                <tr>
                  <th>Approuver</th>
                  <td>
                    <%= leasing.approved %>
                  </td>
                </tr>
                <tr class="table-light text-center">
                  <th colspan="2">Véhicule</th>
                </tr>
                <tr>
                  <th>Marque</th>
                  <td>
                    <%= link_to leasing.vehicle.model.brand.name, ad_brand_path(leasing.vehicle.model.brand), class: "btn btn-link btn-sm" %>
                  </td>
                </tr>
                <tr>
                  <th>Model</th>
                  <td>
                    <%= link_to leasing.vehicle.model.name, ad_vehicle_path(leasing.vehicle), class: "btn btn-link btn-sm" %>
                  </td>
                </tr>
                <tr class="table-light text-center">
                  <th colspan="2">Utilisateur</th>
                </tr>
                <tr>
                  <th>Nom</th>
                  <td>
                    <%= link_to leasing.user.last_name, ad_user_path(leasing.user), class: "btn btn-link btn-sm" %>
                  </td>
                </tr>
                <tr>
                  <th>Email</th>
                  <td>
                    <%= leasing.user.email %>
                  </td>
                </tr>
                <tr>
                  <th>Téléphone</th>
                  <td>
                    <%= leasing.user.phone %>
                  </td>
                </tr>
                <tr class="table-light text-center">
                  <th colspan="2">Détails Location</th>
                </tr>
                <tr>
                  <th>Début</th>
                  <td><%= leasing.beginning_date %></td>
                </tr>
                <tr>
                  <th>Fin</th>
                  <td><%= leasing.end_date %></td>
                </tr>
                <tr>
                  <th>Nombre de Km</th>
                  <td><%= leasing.limit_km %></td>
                </tr>
                <tr>
                  <th>Nombre de Jour</th>
                  <td><%= leasing.day %></td>
                </tr>
                <tr>
                  <th>Penalité</th>
                  <td><%= leasing.penalty %></td>
                </tr>
                <tr class="table-light text-center">
                  <th colspan="2">Action</th>
                </tr>
                <tr>
                  <td><%= link_to raw("<i class='fa fa-eye' aria-hidden='true'></i> Voir"), ad_leasing_path(leasing), class: "btn btn-primary btn-block" %></td>
                  <td><%= link_to raw("<i class='fa fa-edit' aria-hidden='true'></i> Modifier"), edit_ad_leasing_path(leasing), class: "btn btn-info btn-block" %></td>

                </tr>
              </table>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
</div><!--DO NOT DELETE close right-panel in header.html.erb DO NOT DELETE-->