<section class="header-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 my-5">
        <h1 class="text-center mt-3">EMove</h1>
      </div>
    </div>
  </div>
</section>

<section style="height: 60vh">
  <p id="notice"><%= notice %></p>
  <div class="container">
    <div class="row">
      <div class="col-md-12 my-3">
        <h2>Mot de passe oublié ?</h2>
        <hr>
      </div>
    </div>
    <div class="row mb-5">
      <div class="container-fluid no-margin-top">
        <div class="form-horizontal">
          <div class="col-md-4 offset-md-4">
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :post}) do |f| %>
              <%= devise_error_messages! %>

              <div class="form-group">
                <%= f.label :email %><br/>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control input-md" %>
              </div>

              <div class="actions">
                <%= f.submit "Envoyer", class: "btn btn-success btn-block" %>
              </div>
            <% end %>

            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
