<%= form_with(model: bill, local: true, url: ad_bill_path(bill)) do |form| %>
  <% if bill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bill.errors.count, "error") %> prohibited this bill from being saved:</h2>
      <ul>
        <% bill.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <div class="row">
      <div class="col-lg-6 mb-5 mt-5">
        <div class="row form-group">
          <div class="col col-md-3">
            <%= form.label :num_bill, "Numero facture" %>
          </div>
          <div class="col col-md-9">
            <%= form.text_field :num_bill, class: "form-control", placeholder: "Payé" %>
          </div>
        </div>
        <div class="row form-group">
          <div class="col col-md-3">
            <%= form.label :paid, 'Payé' %>
          </div>
          <div class="col col-md-9">
            <%= form.select :paid, [['Oui', 1], ['Nom', 0]], {prompt: 'payé?'}, {class: "ui dropdown form-control"} %>
          </div>
        </div>
        <div class="row form-group">
          <div class="col col-md-3">
            <%= form.label :deadline, "Date limite" %>
          </div>
          <div class="col col-md-9">
            <%= form.text_field :deadline, class: "form-control", placeholder: "Deadline" %>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mb-5 mt-5">
        <div class="row form-group">
          <div class="col col-md-2">
            <%= form.label :ht, "HT" %>
          </div>
          <div class="col col-md-10">
            <%= form.text_field :ht, class: "form-control", placeholder: "TTC" %>
          </div>
        </div>
        <div class="row form-group">
          <div class="col col-md-2">
            <%= form.label :ttc, "TTC" %>
          </div>
          <div class="col col-md-10">
            <%= form.text_field :ttc, class: "form-control", placeholder: "TTC" %>
          </div>
        </div>
        <div class="row form-group">
          <div class="col col-md-2">
            <%= form.label :total, "Total" %>
          </div>
          <div class="col col-md-10">
            <%= form.text_field :total, class: "form-control", placeholder: "Total" %>
          </div>
        </div>
      </div>
    </div>
    <div class="row float-right mt-5">
      <%= form.submit "Enregistrer", class: "btn btn-success btn-lg" %>
      <button type="reset" class="btn btn-danger btn-lg">
        <%= link_to "Annuler", ad_bills_path, class: "color-white" %>
      </button>
    </div>
  </div>
<% end %>
