<div class="breadcrumbs">
  <div class="col-sm-4">
    <div class="page-header float-left">
      <div class="page-title">
        <h1>
          Factures
        </h1>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="page-header float-right">
      <div class="page-title">
        <ol class="breadcrumb text-right">
          <li class="active">Factures</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<p id="notice"><%= notice %></p>
<div class="content mt-3">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <strong class="card-title">
              Factures
            </strong>
          </div>
          <div class="card-body">
            <table id="bootstrap-data-table" class="table table-striped table-bordered">
              <thead>
              <tr>
                <th>Payé</th>
                <th>Info voiture</th>
                <th>Info client</th>
                <th>Info facture</th>
                <th colspan="3">Actions</th>
              </tr>
              </thead>
              <tbody>
              <% @bills.each do |bill| %>
                <tr>
                  <td>
                    <%= bill.paid %>
                  </td>
                  <td>
                    Marque: <%= link_to bill.leasing.vehicle.model.brand.name,
                                        ad_vehicle_path(bill.leasing.vehicle),
                                        class: "btn btn-link btn-sm"
                  %><br>
                    Model: <%= bill.leasing.vehicle.model.name%>
                  </td>
                  <td>
                    Nom :<%= link_to bill.leasing.user.first_name,
                                     ad_user_path(bill.leasing.user),
                                     class: "btn btn-link btn-sm"
                  %> <br>
                    Email :<%= bill.leasing.user.email%><br>
                    Tele :<%= bill.leasing.user.phone%>
                  </td>
                  <td>
                    Debut :<%= bill.leasing.beginning_date %><br>
                    Fin :<%= bill.leasing.end_date %><br>
                    deadline :<%= bill.deadline %><br>
                    payé :<%= bill.paid %><br>
                    Total <%=  bill.total %>
                  </td>
                  <td><%= link_to raw("<i class='fa fa-eye' aria-hidden='true'></i> Voir"), ad_bill_path(bill),class: "btn btn-primary btn-sm" %></td>
                  <td><%= link_to raw("<i class='fa fa-edit' aria-hidden='true'></i> Modifier"), edit_ad_bill_path(bill),class: "btn btn-info btn-sm" %></td>
                  <td><%= link_to raw("<i class='fa fa-trash' aria-hidden='true'></i> Supprimer"), bill, method: :delete, data: { confirm: 'Are you sure?' } ,class: "btn btn-danger btn-sm" %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
            <%= will_paginate @bills %>
          </div>
        </div>
      </div>
    </div>
  </div><!-- .animated -->
</div><!-- .content -->

</div><!--DO NOT DELETE close right-panel in header.html.erb DO NOT DELETE-->

