<div class="breadcrumbs">
  <div class="col-sm-4">
    <div class="page-header float-left">
      <div class="page-title">
        <h1>
          Facture n°: <%= @bill.num_bill %>
        </h1>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="page-header float-right">
      <div class="page-title">
        <ol class="breadcrumb text-right">
          <li class="active"><%= link_to 'Factures', ad_bills_path %> / Facture n°: <%= @bill.num_bill %></li>
        </ol>
      </div>
    </div>
  </div>
</div>
<p id="notice"><%= notice %></p>
<div class="content mt-3">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <strong class="card-title">
              Statut
              <div class="float-right">
                <%= link_to raw("<i class='fa fa-edit' aria-hidden='true'></i> Modifier"), edit_ad_bill_path(@bill), class: "btn btn-info btn-sm" %>
              </div>
            </strong>
          </div>
          <div class="card-body">
            <table id="bootstrap-data-table" class="table table-striped table-bordered">
              <thead>
              <tr>
                <th>Payé</th>
                <th>Date de retour</th>
                <th>Prix</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td><%= @bill.paid %></td>
                <td><%= @bill.deadline %></td>
                <td>
                  HT: <%= @bill.ht %><br>
                  TTC: <%= @bill.ttc %><br>
                  Total: <%= @bill.total %>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content mt-3">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <strong class="card-title">
              Information Client
            </strong>
          </div>
          <div class="card-body">
            <table id="bootstrap-data-table" class="table table-bordered">
              <tbody>
              <tr>
                <th>Nom</th>
                <td>
                  <%= link_to @bill.leasing.user.first_name, ad_user_path(@bill.leasing.user), class: "btn btn-link btn-sm" %>
                </td>
              </tr>
              <tr>
                <th>Adresse mail</th>
                <td><%= @bill.leasing.user.email %></td>
              </tr>
              <tr>
                <th>Téléphone</th>
                <td><%= @bill.leasing.user.phone %></td>
              </tr>
              <tr>
                <th>Point de fidélité</th>
                <td><%= @bill.leasing.user.fidelity %></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <strong class="card-title">
              Information Véhicule
            </strong>
          </div>
          <div class="card-body">
            <table id="bootstrap-data-table" class="table table-bordered">
              <tbody>
              <tr>
                <th>Véhicules</th>
                <td>
                  <%= link_to @bill.leasing.vehicle.model.name, ad_vehicle_path(@bill.leasing.vehicle), class: "btn btn-link btn-sm" %>
                </td>
              </tr>
              <tr>
                <th>Kilométrage</th>
                <td><%= @bill.leasing.vehicle.num_km %></td>
              </tr>
              <tr>
                <th>Prix Journalier</th>
                <td><%= @bill.leasing.vehicle.price %></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div><!--DO NOT DELETE close right-panel in header.html.erb DO NOT DELETE-->