<%= form_with(model: leasing, local: true) do |form| %>
  <% if leasing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(leasing.errors.count, "error") %> prohibited this leasing from being saved:</h2>

      <ul>
        <% leasing.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <div class="row">
      <div class="col-lg-12 mt-auto mb-auto">
        <div class="row form-group">
          <div class="col col-md-3">
            <%= form.label :beginning_date, "Début location" %>
          </div>
          <div class="col col-md-9">
            <%= form.date_field :beginning_date, class: "form-control datepicker", placeholder: "Début location" %>
          </div>
        </div>
        <div class="row form-group">
          <div class="col col-md-3">
            <%= form.label :end_date, "Fin location" %>
          </div>
          <div class="col col-md-9">
            <%= form.date_field :end_date, class: "form-control datepicker", placeholder: "Fin location" %>
          </div>
        </div>
        <%= form.hidden_field :user_id %>
        <%= form.hidden_field :vehicle_id %>
      </div>
    </div>
    <div class="row float-right mt-5">
      <%= form.submit "Valider", class: "btn btn-success btn-lg" %>
    </div>
  </div>





<% end %>
