<p id="notice"><%= notice %></p>

<h1>Leasings</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @leasings.each do |leasing| %>
      <tr>
        <td><%= link_to 'Show', leasing %></td>
        <td><%= link_to 'Edit', edit_leasing_path(leasing) %></td>
        <td><%= link_to 'Destroy', leasing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Leasing', new_leasing_path %>
