<section class="header-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 my-5">
        <h1 class="text-center mt-3">EMove</h1>
      </div>
    </div>
  </div>
</section>

<section>
  <p id="notice"><%= notice %></p>
  <div class="container">
    <div class="row">
      <div class="col-md-12 my-3">
        <h2>Votre location :</h2>
        <hr>
      </div>
    </div>
    <div class="row my-4 mb-5">
      <div class="col-lg-6 text-center">
        <img src="<%= @vehicle.photo_url %>"
             alt="<%= %>"
             class="img-fluid rounded"
             width="250px">
      </div>
      <div class="col-lg-6">
        <h2 class="text-center"><%= @vehicle.model.name %></h2>
        <hr>
        <%= render 'form', leasing: @leasing %>
      </div>
    </div>
    <div class="mb-5">
      <a href="javascript:history.go(-1)" class="btn btn-danger no-radius">Retour</a>
    </div>
  </div>
</section>