<%= form_with(model: model, local: true, url: ad_models_path) do |form| %>
  <% if model.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(model.errors.count, "error") %> prohibited this model from being saved:</h2>
      <ul>
        <% model.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <div class="row">
      <div class="col-lg-6 mb-5">
        <div class="row form-group">
          <div class="col col-md-2">
            <%= form.label :brand_id, 'Marque' %>
          </div>
          <div class="col col-md-10">
            <%= form.collection_select(:brand_id, Brand.all, :id, :name, {}, {class: "form-control"}) %>
          </div>
        </div>
        <div class="row form-group">
          <div class="col col-md-2">
            <%= form.label :name, "Nom" %>
          </div>
          <div class="col col-md-10">
            <%= form.text_field :name, class: "form-control", placeholder: "Nom" %>
          </div>
        </div>
      </div>
    </div>
    <div class="row float-right mt-5">
      <%= form.submit "Enregistrer", class: "btn btn-success btn-lg" %>
      <button type="reset" class="btn btn-danger btn-lg">
        <%= link_to "Annuler", ad_brands_path, class: "color-white" %>
      </button>
    </div>
  </div>
<% end %>
