<div class="breadcrumbs">
  <div class="col-sm-4">
    <div class="page-header float-left">
      <div class="page-title">
        <h1>
          Modèles
        </h1>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="page-header float-right">
      <div class="page-title">
        <ol class="breadcrumb text-right">
          <li class="active">Modèles</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<p id="notice"><%= notice %></p>
<div class="content mt-3">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <strong class="card-title">
              Modèles
              <div class="float-right">
                <%= link_to raw("<i class='fa fa-plus' aria-hidden='true'></i> Ajouter"), new_ad_model_path, class: "btn btn-primary btn-sm" %>
              </div>
            </strong>
          </div>
          <div class="card-body">
            <table id="bootstrap-data-table" class="table table-striped table-bordered">
              <thead>
              <tr>
                <th>Nom</th>
                <th>Nombre de voiture</th>
                <th>Marque</th>
                <th colspan="3">Actions</th>
              </tr>
              </thead>
              <tbody>
              <% @models.each do |model| %>
                <tr>
                  <td><%= model.name %></td>
                  <td><%= model.vehicles.count %></td>
                  <td><%= link_to model.brand.name, ad_brand_path(model.brand),class: "btn btn-link btn-sm" %></td>
                  <td><%= link_to raw("<i class='fa fa-edit' aria-hidden='true'></i> Modifier"), edit_ad_model_path(model),class: "btn btn-info btn-sm" %></td>
                  <%#= link_to 'Sup', model, method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-danger btn-sm" %>
                </tr>
              <% end %>
              </tbody>
            </table>
            <%= will_paginate @models %>
          </div>
        </div>
      </div>
    </div>
  </div><!-- .animated -->
</div><!-- .content -->

</div><!--DO NOT DELETE close right-panel in header.html.erb DO NOT DELETE-->