<div class="breadcrumbs">
  <div class="col-sm-4">
    <div class="page-header float-left">
      <div class="page-title">
        <h1>
          <%= @model.name %>
        </h1>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="page-header float-right">
      <div class="page-title">
        <ol class="breadcrumb text-right">
          <li class="active"><%= link_to 'Marques', ad_models_path %> / <%= @model.name %></li>
        </ol>
      </div>
    </div>
  </div>
</div>
<p id="notice"><%= notice %></p>
<div class="content mt-3">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <strong class="card-title">
              <%= @model.name %>
              <div class="float-right">
                <%= link_to raw("<i class='fa fa-edit' aria-hidden='true'></i> Modifier"), edit_ad_models_path(@model), class: "btn btn-info btn-sm" %>
              </div>
            </strong>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3 col-md-6 text-center">

              </div>
              <div class="col-sm-9 col-md-6">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div><!--DO NOT DELETE close right-panel in header.html.erb DO NOT DELETE-->
