<section class="search-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 my-5">
        <h1 class="text-center mt-3">EMove</h1>
      </div>
    </div>
    <div class="row search-bar">
      <div class="container-fluid no-margin-top">
        <div class="form-horizontal">
          <div class="col-md-12 m-auto">
            <form>
              <div class="col-lg-4 col-md-12">
                <div class="form-group">
                  <label for="ville">Ville</label>
                  <input type="text" class="form-control no-radius no-border" placeholder="Ville de départ">
                </div>
              </div>
              <div class="col-lg-3 col-md-12">
                <div class="form-group">
                  <label for="date">Date début de location</label>
                  <input type="date" class="form-control no-radius no-border">
                </div>
              </div>
              <div class="col-lg-3 col-md-12">
                <div class="form-group">
                  <label for="exampleInputEmail1">Date fin de location</label>
                  <input type="date" class="form-control no-radius no-border">
                </div>
              </div>
              <div class="col-lg-2 col-md-12 test">
                <button type="submit" class="btn btn-block btn-success">Recherche</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="presentation" class="home-block">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-12">
        <h2 class="presentation-title">Emove c'est :</h2>
        <ul class="listing">
          <li class="listing-item">
            La volonté de toujours proposer une expérience agréable.
          </li>
          <li class="listing-item">
            L'envie de montrer qu'il est possible d'agir pour la planète sans forcément changer toutes ses habitudes.
          </li>
          <li class="listing-item">
            Un parc automobile récent et fréquemment mis à jour.
          </li>
        </ul>
      </div>
      <div class="col-lg-5 col-md-12 my-auto">
        <img src="https://www.sixt.fr/fileadmin/_processed_/csm_bmw-i3-3d-silber-schwarz-2014_88d11e351d.png">
      </div>
    </div>
  </div>
</section>

<section id="pricing" class="home-block">
  <div class="container">
    <div class="row">
      <div class="pricing-wrapper">
        <% @vehicle.each do |vehicle| %>
          <div class="col-lg-3 col-md-6 col-sm-12">
            <%= link_to vehicle do %>
            <div class="card card-pricing card-link">
              <div class="img-wrapper">
                <img class="card-img-top" src="<%= vehicle.photo_url %>" alt="Card image cap">
              </div>
              <div class="card-body">
                <h5 class="card-title text-center my-auto"><%= vehicle.model.name %></h5>
                <p class="card-text text-justify"><%= vehicle.description %></p>
              </div>
              <div class="card-gradient"></div>
              <div class="card-link-caption">
                <div class="card-link-caption-content">
                  <div class="project-name">
                    <i class='fa fa-shopping-cart'></i> Réserver
                  </div>
                </div>
              </div>
            </div>
              <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>