<section class="header-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 my-5">
        <h1 class="text-center mt-3">EMove</h1>
      </div>
    </div>
  </div>
</section>

<section>
  <p id="notice"><%= notice %></p>
  <div class="container">
    <div class="row">
      <div class="col-md-12 my-3">
        <h2>Votre location :</h2>
        <hr>
      </div>
    </div>
    <div class="row mb-5">
      <div class="container-fluid no-margin-top">
        <div class="form-horizontal">
          <div class="col-md-4 offset-md-4">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="form-group">
                <%= f.label :email, class: "control-label" %>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control input-md", placeholder: "ex: morgane@emove.com" %>
              </div>
              <div class="form-group">
                <%= f.label :password, "Mot de passe", class: "control-label" %>
                <%= f.password_field :password, autocomplete: "off", class: "form-control input-md" %>
              </div>
              <div class="form-group">
                <div class="checkbox">
                  <% if devise_mapping.rememberable? -%>
                    <label for="remember_me">
                      <%= f.check_box :remember_me, id: "remember_me" %>
                      Se souvenir de moi
                    </label>
                  <% end -%>
                </div>
              </div>
              <div class="form-group">
                <div class="actions">
                  <%= f.submit "Connexion", class: "btn btn-success btn-block" %>
                </div>
              </div>
            <% end %>
            <div class="mb-3">
              <%= render "devise/shared/links" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>