
  <% if leasing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(leasing.errors.count, "error") %> prohibited this leasing from being saved:</h2>
      <ul>
        <% leasing.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <div class="row">
      <div class="col-lg-9 col-md-12 mt-5 mb-5">
        <div class="row form-group">
          <div class="col col-md-2">
            <label class="form-control-label">Approuver</label>
          </div>
          <div class="col col-md-5">
            <%= form.check_box :approved, id: :event_active %>
            <%= form.label :approved do %>
              Approuver la location
            <% end %>
          </div>
        </div>
        <div class="row form-group">
          <div class="col col-md-2">
            <label class="form-control-label">Date début / fin</label>
          </div>
          <div class="col col-md-5">
            <%= form.text_field :beginning_date, class: "form-control", placeholder: "début location" %>
          </div>
          <div class="col col-md-5">
            <%= form.text_field :end_date, class: "form-control", placeholder: "fin location" %>
          </div>
        </div>
        <div class="row form-group">
          <div class="col col-md-2">
            <%= form.label :limit_km, "limite km" %>
          </div>
          <div class="col col-md-10">
            <%= form.text_field :limit_km, class: "form-control", placeholder: "limite km" %>
          </div>
        </div>
        <div class="row form-group">
          <div class="col col-md-2">
            <%= form.label :user_id, "Client" %>
          </div>
          <div class="col col-md-10">
            <%= form.collection_select(:user_id, User.all, :id, :last_name, {}, {class: "form-control"}) %>
          </div>
        </div>
        <div class="row form-group">
          <div class="col col-md-2">
            <%= form.label :vehicle_id, "Vehicule" %>
          </div>
          <div class="col col-md-10">
            <%= form.collection_select(:vehicle_id, Vehicle.all, :id, :num_serial, {}, {class: "form-control"}) %>
          </div>
        </div>
        <div class="row form-group">
          <div class="col col-md-2">
            <%= form.label :penalty, "Penalité" %>
          </div>
          <div class="col col-md-10">
            <%= form.text_field :penalty, class: "form-control", placeholder: "penalité" %>
          </div>
        </div>
      </div>
    </div>
    <div class="row float-right mt-5">
      <%= form.submit "Enregistrer", class: "btn btn-success btn-lg" %>
      <button type="reset" class="btn btn-danger btn-lg">
        <%= link_to "Annuler", ad_leasings_path, class:"color-white" %>
      </button>
    </div>
  </div>
