<div class="breadcrumbs">
  <div class="col-sm-4">
    <div class="page-header float-left">
      <div class="page-title">
        <h1>
          Location
        </h1>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="page-header float-right">
      <div class="page-title">
        <ol class="breadcrumb text-right">
          <li class="active">
            <%= link_to 'Locations', ad_leasings_path %> / Modifier
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
<p id="notice"><%= notice %></p>
<div class="content mt-3">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <strong class="card-title">Modifier la location</strong>
          </div>
          <div class="card-body">
            <div id="pay-invoice">
              <div class="card-body">
                <div class="card-title">
                  <h3 class="text-center">Location n° : <%= @leasing.id %></h3>
                </div>
                <%= form_with(model: @leasing, url: ad_leasing_path(@leasing), local: true) do |form| %>
                <%= render 'ad/leasings/form', leasing: @leasing, form: form %>
                  <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
