<div class="breadcrumbs">
  <div class="col-sm-4">
    <div class="page-header float-left">
      <div class="page-title">
        <h1>
          Locations
        </h1>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="page-header float-right">
      <div class="page-title">
        <ol class="breadcrumb text-right">
          <li class="active">Locations</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<p id="notice"><%= notice %></p>
<div class="content mt-3">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <strong class="card-title">
              Recherche
            </strong>
          </div>
          <div class="card-body">
            <%= search_form_for [:ad, @q], html: {class: 'form'} do |f| %>
              <div class="actions">
                <div class="row pl-3">
                  <div class="col-lg-6">
                    <div class="row form-group">
                      <div class="col col-md-3">
                        <%= f.label :user_id_eq, 'Client', class: "form-control-label"%>
                      </div>
                      <div class="col col-md-9">
                        <%= f.collection_select :user_id_eq, User.order(:last_name).all, :id, :last_name, {prompt: true}, {class: 'form-control'} %>
                      </div>
                    </div>
                    <div class="row form-group">
                      <div class="col col-md-3">
                        <%= f.label :vehicle_id_eq, 'Vehicule', class: "form-control-label" %>
                      </div>
                      <div class="col col-md-9">
                        <%= f.collection_select :vehicle_id_eq, Vehicle.all, :id, :name_model, {prompt: true}, {class: 'form-control'} %>
                      </div>
                    </div>
                    <div class="row form-group">
                      <div class="col col-md-3">
                        <%= f.label :approved, 'Approuver', class: "form-control-label" %>
                      </div>
                      <div class="col col-md-9">
                        <%= f.select :approved_true, [['Oui', 1], ['Non', 0]], {include_blank: 'Tous', selected: params[:q] ? params[:q][:approved_true] : ''}, {class: 'form-control'} %>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row float-right pr-3">
                  <%= f.submit "Rechercher", class: 'btn btn-primary sm' %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div><!-- .animated -->
</div><!-- .content -->
<div class="content mt-3">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <strong class="card-title">
              Locations
            </strong>
          </div>
          <div class="card-body">
            <table id="bootstrap-data-table" class="table table-striped table-bordered">
              <thead>
              <tr>
                <th>Approuver</th>
                <th>Info Client</th>
                <th>Info Vehicule</th>
                <th>Date début / fin <br/>Km</th>
                <th>Penaliter</th>
                <th colspan="3">Actions</th>
              </tr>
              </thead>
              <tbody>
              <% @leasings.each do |leasing| %>
                <tr>
                  <td>
                    <%= leasing.approved %>
                  </td>
                  <td>
                    Nom: <%= link_to leasing.user.last_name, ad_user_path(leasing.user), class: "btn btn-link btn-sm" %>
                    <br>
                    Email: <%= leasing.user.email %>
                    <br>
                    Tel : <%= leasing.user.phone %>
                  </td>
                  <td>
                    Marque:<%= link_to leasing.vehicle.model.brand.name, ad_brand_path(leasing.vehicle.model.brand), class: "btn btn-link btn-sm" %>
                    <br>
                    Model: <%= link_to leasing.vehicle.model.name, ad_vehicle_path(leasing.vehicle), class: "btn btn-link btn-sm" %>
                  </td>
                  <td>
                    Date debut: <%= leasing.beginning_date %>
                    <br>
                    Date fin: <%= leasing.end_date %>
                    <br>
                    Km: <%= leasing.limit_km %>
                    <br>
                    Jour: <%= leasing.day %>
                    <br>
                  </td>
                  <td><%= leasing.penalty %></td>
                  <td><%= link_to raw("<i class='fa fa-eye' aria-hidden='true'></i> Voir"), ad_leasing_path(leasing), class: "btn btn-primary btn-sm" %></td>
                  <td><%= link_to raw("<i class='fa fa-edit' aria-hidden='true'></i> Modifier"), edit_ad_leasing_path(leasing), class: "btn btn-info btn-sm" %></td>
                  <td><%= link_to raw("<i class='fa fa-trash' aria-hidden='true'></i> Supprimer"), leasing, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-danger btn-sm" %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
            <%= will_paginate @leasings %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>