<div class="breadcrumbs">
  <div class="col-sm-4">
    <div class="page-header float-left">
      <div class="page-title">
        <h1>
          Location n° : <%= @leasing.id %>
        </h1>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="page-header float-right">
      <div class="page-title">
        <ol class="breadcrumb text-right">
          <li class="active"><%= link_to 'Location', ad_leasings_path %> / Location n° : <%= @leasing.id %></li>
        </ol>
      </div>
    </div>
  </div>
</div>
<p id="notice"><%= notice %></p>
<div class="content mt-3">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <strong class="card-title">
              Location n° : <%= @leasing.id %>
              <div class="float-right">

              </div>
            </strong>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3 col-md-6 text-center">

              </div>
              <div class="col-sm-9 col-md-6">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>