<section class="header-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 my-5">
        <h1 class="text-center mt-3">Nos Vehicules</h1>
      </div>
    </div>
  </div>
</section>

<section>
  <p id="notice"><%= notice %></p>
  <div class="container">
    <div class="row">
      <div class="col-md-12 my-5">
        <h2>Découvrez toute notre gamme de véhicule éléctrique :</h2>
        <hr>
      </div>
    </div>
    <div class="pricing-wrapper">
      <% @vehicles.each do |vehicle| %>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="card card-pricing card-link">
            <div class="img-wrapper">
              <img class="card-img-top" src="<%= vehicle.photo_url %>" alt="Card image cap">
            </div>
            <div class="card-body">
              <h5 class="card-title text-center my-auto"><%= vehicle.model.name %></h5>
              <p class="card-text text-justify"><%= vehicle.description %></p>
            </div>
            <div class="card-gradient"></div>
            <div class="card-link-caption">
              <div class="card-link-caption-content">
                <div class="project-name">
                  <%= link_to(raw("<i class='fa fa-shopping-cart'></i> Réserver"), vehicle ,{ :class => 'btn btn-primary btn-full'})  %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>