<section class="header-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 my-5">
        <h1 class="text-center mt-3">EMove</h1>
      </div>
    </div>
  </div>
</section>

<section class="background-white">
  <p id="notice"><%= notice %></p>
  <div class="container">
    <div class="row">
      <div class="col-md-12 my-5">
        <h2>Laissez-vous tenter par ce modèle :</h2>
        <hr>
      </div>
    </div>
    <div class="row my-4 mb-5">
      <div class="col-lg-6 text-center">
        <img src="<%= @vehicle.photo_url %>"
             alt="vehicule"
             class="img-fluid rounded"
             width="250px">
      </div>
      <div class="col-lg-6">
        <h1><%= @vehicle.model.name %></h1>
        <hr>
        <p><%= @vehicle.description %></p>
        <hr>
        <h5 class="mb-3">Prérequis :</h5>
        <div class="ml-5">
          <ul>
            <li>Age : 18ans</li>
            <li>Premis : B</li>
          </ul>
        </div>
        <hr>
        <div class="row text-center">
          <%= link_to 'Louer', louer_path(@vehicle.id), class: "btn btn-success no-radius btn-block" %>
        </div>
      </div>
    </div>
    <div class="mb-5">
      <a href="javascript:history.go(-1)" class="btn btn-danger no-radius">Retour</a>
    </div>
  </div>
</section>