/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require flexslider
 *= require colorbox
 *= require normalize
 *= require animate
 */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import "font-awesome";

body{
    margin: 0;
    margin-top: 38px;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    color: rgb(52,58,64);
}

p{
    color: rgb(52,58,64)!important;
}

.background-white{
    background-color: white!important;
}

nav.navbar{
    border-bottom: 1px solid #848484;
}
.nav-item{
    text-transform: uppercase;
    margin: 0 5px;
    transition: all, 0.25s;
}
.nav-item:hover{
    background: #218838;
    border-radius: 3px;
}
.search-section{
    height: 100%;
    /*padding-bottom: 10%;*/
    background: linear-gradient(
            rgba(97,109,122, 0.4),
            rgba(97,109,122, 0.4)),
    url('https://www.contouraccountants.nl/index.php/image/be434cdaee43f69fc6b24ea52b525ddedbb66be4-header/electric-car.jpg');
    /*url('http://static.feber.se/article_images/41/62/05/416205_1280.jpg');*/
    -webkit-background-size: 100%;
    background-size: 100% 100%;
}
.search-section h1{
    text-shadow: 2px 3px 5px #000;
}
@media screen and (min-width: 979px) {
    .test{
        position: relative;
        top: 50%;
        -webkit-transform: translateY(67%);
    }
}
.search-section h1{
    font-size: 100px;
    color: white;
}
.search-section .search-bar{
    background: rgb(52,58,64);
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 1px -2px 1px 0 #cac3c3;
}
<<<<<<< HEAD
=======

.header-section{
    height: 100%;
    background: linear-gradient(
            rgba(97,109,122, 0.5),
            rgba(97,109,122, 0.5)),
    url('http://s1.picswalls.com/wallpapers/2014/08/16/beautiful-beautiful-road-wallpaper_072313779_201.jpg');
    -webkit-background-size: 100%;
    background-size: 100% auto;
}
.header-section h1{
    font-size: 100px;
    color: white;
}
.header-section h2{
    font-size: 60px;
    color: white;
}


>>>>>>> 719d39b1d23cd91b2abadd696dbba1d5876225da
/* scrollbar */
::-webkit-scrollbar {
    display: block;
}
::-webkit-scrollbar {
    width: 10px;
    height: 8px;
    background-color: #aaa;
}
::-webkit-scrollbar-thumb {
    background: #343a40;
}

#colorbox{
    z-index: 999;
}
a.btn-primary {
    background: #089008;
    border-radius: 0;
}
.btn-full{
    width: 100%;
    border-color: #fff;
}
.btn-bottom{
    position: absolute;
    right: 0;
    bottom: 0;
}
a.btn-primary:visited{
    color: #fff;
}
a.btn:visited{
    color: #fff;
}
a.btn-primary:hover{
    background: #006100;
    border-color: #fff;
}
a.btn-primary:focus{
    background: #006100;
    border-color: #006100;
    box-shadow: none;
}
.slider-full{
    margin: 0 -40px;
}

.flex-control-nav{
    bottom: 20px;
    z-index: 2;
}
h1.description-title{
    margin-bottom: 10px;
}
h2.presentation-title{
    font-size: 42px;
}
h4.footer-title{
    font-size: 18px;
}
ul.listing{
    margin: 40px 20px;
}
li.listing-item{
    font-size: 24px;
    line-height: 30px;
    margin: 15px;
}
section.home-block{
    margin: 30px 0;
}
#pricing.home-block{

    background: linear-gradient(
            rgba(97,109,122, 0.2),
            rgba(97,109,122, 0.2)),
    url('http://s1.picswalls.com/wallpapers/2014/08/16/beautiful-beautiful-road-wallpaper_072313779_201.jpg')center 0 no-repeat fixed;
    padding: 42px;
    margin: 0;
}
.card-pricing{
    border-radius: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 340px;
    overflow: hidden;
}

.card-title{
    height: 50px;
}
.brand-card{
    overflow: hidden;
}
.card-gradient{
    position: absolute;
    bottom: 0;
    right: 0;
    background-image: linear-gradient(rgba(248, 249, 250, 0.5), #f8f9fa);
    left: 0;
    height: 35px;
}
.card-link:hover .card-gradient{
    background-image: none;
}
.vehicle-home{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 350px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.pricing-wrapper{
    overflow: hidden;
}
.card-pricing .img-wrapper{
    overflow: hidden;
}
.card-img-top{
    max-height: 150px;
    transition: ease-in-out, 0.25s;
}
.card-pricing:hover .card-img-top{
    transform: scale(1.2);
}
.brand-card{
    height: 300px;
}
.no-radius {
    border-radius: 0!important;
}
.no-border{
    border: none!important;
}

.no-margin-top{
    margin-top: 0px!important;
}

footer.navbar{
    padding-top: 45px;
    color: #fff;
    text-align: center;
    border-top: 1px solid #848484;
}
footer ul{
    list-style-type: none;
    padding: 10px 0;
    margin-left: -5px;
}
footer p{
    padding: 10px 0;
    font-size: 16px;
    color: #fff !important;
    text-align: justify;
}
footer ul.social > li{
    margin: 10px 0;
    transition: all, 0.25s;
}
footer ul.social > li{
    margin: 5px 0;
    transition: all, 0.25s;
}
footer ul.social li > a{
    font-size: 34px;
    color: #fff;
}
footer ul.menu-footer li > a{
    font-size: 18px;
    color: #fff;
}
footer ul.menu-footer li:hover > a{
    color: #218838;
}
footer ul.social li:hover i.fa-facebook-square{
    color: #3b5999;
}
footer ul.social li:hover i.fa-twitter-square{
    color: #55acee;
}
footer ul.social li:hover i.fa-instagram{
    color: #e4405f;
}
small{
    color: gray;
    font-size: x-large;
}

.text-center{
    text-align: center;
}

.text-justify{
    text-align: justify;
}
.color-white{
    color: white!important;
}

/* Internal page */
.content-wrapper{
    margin: 150px 0;
    height: 45vh;
}
.content-wrapper img{
    max-width: 400px;
    margin: 20px 0;

}
/* Admin */
.table-spaced{
    margin: 20px 0;
}

