// Place all the styles related to the bills controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container-fluid{
  margin-top:50px ;
}
.vide3{
  margin: 25px 0;
  padding: 1px;
}