// Place all the styles related to the Brands controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

.card-img-brand {
    max-height: 150px;
    max-width: 150px;
}

.card-link {
    position: relative;
    display: block;
    max-width: 650px;
    margin: 5px;
    color: black;
    text-decoration: none !important;

    &:hover {
        color: black;
        text-decoration: none !important;

        .card-link-caption {
            opacity: 1;
        }
    }
    &:focus {
        outline: none;
    }

    .card-link-caption {
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
        opacity: 0;
        color: #fff;
        background: rgba(#089008, 0.9);
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        transition: all 0.2s;

        .card-link-caption-content {
            position: absolute;
            top: 50%;
            width: 100%;
            transform: translateY(-50%);
            text-align: center;

            .project-name {
                padding: 0 15px;
                font-size: 18px;
                @media (min-width: 768px) {
                    font-size: 22px;
                }
            }
        }
    }
}