<aside id="left-panel" class="left-panel">
  <nav class="navbar navbar-expand-sm navbar-default">

    <div class="navbar-header">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars"></i>
      </button>
    </div>

    <div id="main-menu" class="main-menu collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active">
          <%= link_to '/ad', :class => 'nav-icon' do %>
            <i class="menu-icon fa fa-dashboard"></i>Dashboard
          <% end %>
        </li>
        <h3 class="menu-title">Véhicules</h3>
        <li>
          <%= link_to ad_brands_path, :class => 'nav-icon' do %>
            <i class="menu-icon fa fa-table"></i>Marques
          <% end %>
        </li>
        <li>
          <%= link_to ad_models_path, :class => 'nav-icon' do %>
            <i class="menu-icon fa fa-table"></i>Models
          <% end %>
        </li>
        <li>
          <%= link_to ad_vehicles_path, :class => 'nav-icon' do %>
            <i class="menu-icon fa fa-car"></i>Véhicules
          <% end %>
        </li>
        <h3 class="menu-title">Locations</h3>
        <li>
          <%= link_to ad_leasings_path, :class => 'nav-icon' do %>
            <i class="menu-icon fa fa-file-text-o"></i>Locations
          <% end %>
        </li>
        <h3 class="menu-title">Utilisateurs</h3>
        <li>
          <%= link_to ad_users_path, :class => 'nav-icon' do %>
            <i class="menu-icon fa fa-users"></i>Utilisateurs
          <% end %>
        </li>
        <li>
          <%= link_to ad_bills_path, :class => 'nav-icon' do %>
            <i class="menu-icon fa fa-dollar"></i>Factures
          <% end %>
        </li>

      </ul>
    </div>
  </nav>
</aside>

<div id="right-panel" class="right-panel">

  <header id="header" class="header">

    <div class="header-menu">

      <div class="col-sm-7">
        <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
        <div class="header-left">
        </div>
      </div>

      <div class="col-sm-5">
        <div class="user-area dropdown float-right">
          <%= link_to 'Retour au site', '/', class: 'btn btn-primary' %>

          <div class="user-menu dropdown-menu">
            <a class="nav-link" href="#"><i class="fa fa- user"></i>My Profile</a>

            <a class="nav-link" href="#"><i class="fa fa- user"></i>Notifications <span class="count">13</span></a>

            <a class="nav-link" href="#"><i class="fa fa -cog"></i>Settings</a>

            <a class="nav-link" href="#"><i class="fa fa-power -off"></i>Logout</a>
          </div>
        </div>

        <div class="language-select dropdown" id="language-select">
          <a class="dropdown-toggle" href="#" data-toggle="dropdown"  id="language" aria-haspopup="true" aria-expanded="true">
            <i class="flag-icon flag-icon-us"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="language" >
            <div class="dropdown-item">
              <span class="flag-icon flag-icon-fr"></span>
            </div>
            <div class="dropdown-item">
              <i class="flag-icon flag-icon-es"></i>
            </div>
            <div class="dropdown-item">
              <i class="flag-icon flag-icon-us"></i>
            </div>
            <div class="dropdown-item">
              <i class="flag-icon flag-icon-it"></i>
            </div>
          </div>
        </div>

      </div>
    </div>

  </header>