<section class="header-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 my-5">
        <h1 class="text-center mt-3">Nos Marques</h1>
      </div>
    </div>
  </div>
</section>

<section>
  <p id="notice"><%= notice %></p>
  <div class="container">
    <div class="row">
      <div class="col-md-12 my-5">
        <h2>Découvrez les marques que nous vous proposons :</h2>
        <hr>
      </div>
    </div>
    <div class="row text-center">
      <% @brands.each do |brand| %>
        <div class="col-lg-3 col-md-6 mb-4">
          <%= link_to brand do %>
            <div class="card card-link">
              <img class="card-img-brand rounded mx-auto d-block" src="<%= brand.logo_url %>" alt="<%= brand.name %>">
              <div class="card-body my-auto">
                <h4 class="card-title"><%= brand.name %></h4>
              </div>
              <div class="card-link-caption">
                <div class="card-link-caption-content">
                  <div class="project-name">
                    En savoir plus <i class="fa fa-arrow-right"></i>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</section>