<section class="header-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 my-5">
        <h1 class="text-center mt-3"><%= @brand.name %></h1>
      </div>
    </div>
  </div>
</section>

<section class="background-white mb-3 pb-3">
  <p id="notice"><%= notice %></p>
  <div class="container">
    <div class="row">
      <div class="col-md-12 my-3">
        <h2>Découvrez les modèles de cette marque :</h2>
        <hr>
      </div>
    </div>
    <div class="row my-4 mb-5">
      <div class="col-lg-6 text-center">
        <img src="<%= @brand.logo_url %>"
             alt="<%= %>"
             class="img-fluid rounded"
             width="250px">
      </div>
      <div class="col-lg-6">
        <h1><%= @brand.name %></h1>
        <hr>
        <p><%= @brand.history %></p>
      </div>
    </div>
  </div>
</section>
<section class="py-3">
  <div class="container">
    <h2>Liste des modèles disponibles</h2>
    <hr>
    <div class="row text-center">
      <% @brand.models.each do |model| %>
        <% model.vehicles.each do |v| %>
          <div class="col-lg-3 col-md-6 mb-4">
            <%= link_to v do %>
              <div class="card card-link">
                <img class="card-img-top" src="<%= v.photo_url %>" alt="">
                <div class="card-body">
                  <h4 class="card-title"><%= v.model.name %></h4>
                </div>
                <div class="card-link-caption">
                  <div class="card-link-caption-content">
                    <div class="project-name">
                      <i class="fa fa-shopping-cart"></i> Reserver
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="center">
      <%= link_to 'Retour aux marques', brands_path, class: "btn btn-secondary no-radius" %>
    </div>
  </div>
</section>