<%= form_with(model: vehicle, local: true, url: ad_vehicles_path) do |form| %>
  <% if vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>
      <ul>
        <% vehicle.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <div class="row">
      <div class="col-lg mb-5">
        <div class="row form-group">
          <p class="mx-auto"><%= image_tag(@vehicle.photo_url) if @vehicle.photo? %></p>
        </div>
        <div class="row form-group my-auto">
          <div class="col-12 col-md-12">
            <%= form.file_field :photo, id: :vehicle_photo, class: "form-control-file" %>
            <%= form.hidden_field :photo_cache %>
          </div>
        </div>
      </div>
      <div class="col-lg-7 mt-auto mb-auto">
        <div class="row form-group">
          <div class="col col-md-3">
            <label class="form-control-label">Modèle</label>
          </div>
          <div class="col-12 col-md-9">
            <%= form.collection_select(:model_id, Model.all, :id, :name, {}, {class: "form-control"}) %>
          </div>
        </div>
        <div class="row form-group">
          <div class="col col-md-3">
            <label class="form-control-label">Type</label>
          </div>
          <div class="col-12 col-md-9">
            <%= form.collection_select(:model_id, Type.all, :id, :name, {}, {class: "form-control"}) %>
          </div>
        </div>
        <div class="row form-group">
          <div class="col col-md-3">
            <label class="form-control-label">N°série</label>
          </div>
          <div class="col-12 col-md-9">
            <%= form.text_field :num_serial, class: "form-control", placeholder: "Numéro de série" %>
          </div>
        </div>
        <div class="row form-group">
          <div class="col col-md-3">
            <label class="form-control-label">Immatriculation</label>
          </div>
          <div class="col-12 col-md-9">
            <%= form.text_field :numberplate, class: "form-control", placeholder: "Immatriculation" %>
          </div>
        </div>
        <div class="row form-group">
          <div class="col col-md-3">
            <label class="form-control-label">Couleur</label>
          </div>
          <div class="col-12 col-md-9">
            <%= form.text_field :color, class: "form-control", placeholder: "Couleur" %>
          </div>
        </div>
        <div class="row form-group">
          <div class="col col-md-3">
            <label class="form-control-label">Kilométrage</label>
          </div>
          <div class="col-12 col-md-9">
            <%= form.text_field :num_km, class: "form-control", placeholder: "Kilométrage" %>
          </div>
        </div>
        <div class="row form-group">
          <div class="col col-md-3">
            <label class="form-control-label">Prix et date d'achat</label>
          </div>
          <div class="col-12 col-md-4">
            <%= form.text_field :buying_price, class: "form-control", placeholder: "Prix d'achat" %>
          </div>
          <div class="col-12 col-md-5">
            <%= form.date_field :buying_date, class: "form-control", placeholder: "Date d'achat" %>
          </div>
        </div>
        <!--<div class="row form-group">-->
        <!--<div class="col col-md-3">-->
        <!--<label class="form-control-label">Date d'achat</label>-->
        <!--</div>-->
        <!--<div class="col-12 col-md-9">-->
        <!--<%= form.date_field :buying_date, class: "form-control", placeholder: "Date d'achat" %>-->
        <!--</div>-->
        <!--</div>-->
      </div>
    </div>
    <div class="row">
      <div class="col-lg">
        <div class="row form-group">
          <div class="col col-md-2">
            <label class="form-control-label">Déscription</label>
          </div>
          <div class="col-12 col-md-10">
            <%= form.text_area :description, rows: "7", class: "form-control", placeholder: "Déscription" %>
          </div>
        </div>
      </div>
    </div>
    <div class="row float-right mt-5">
      <%= form.submit "Enregistrer", class: "btn btn-success btn-lg" %>
      <button type="reset" class="btn btn-danger btn-lg">
        <%= link_to "Annuler", ad_vehicles_path, class: "color-white" %>
      </button>
    </div>
  </div>
<% end %>