<div class="breadcrumbs">
  <div class="col-sm-4">
    <div class="page-header float-left">
      <div class="page-title">
        <h1>
          Véhicules
        </h1>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="page-header float-right">
      <div class="page-title">
        <ol class="breadcrumb text-right">
          <li class="active">Véhicules</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<p id="notice"><%= notice %></p>
<div class="content mt-3">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <strong class="card-title">
              Véhicules
              <div class="float-right">
                <%= link_to raw("<i class='fa fa-plus' aria-hidden='true'></i> Ajouter"), new_ad_vehicle_path, class: "btn btn-primary btn-sm" %>
              </div>
            </strong>
          </div>
          <div class="card-body">
            <table id="bootstrap-data-table" class="table table-striped table-bordered">
              <thead>
              <tr>
                <th>Photo</th>
                <th>Numero série</th>
                <th>Marque</th>
                <th>Model</th>
                <th colspan="3">Actions</th>
              </tr>
              </thead>
              <tbody>
              <% @vehicles.each do |v| %>
                <tr>
                  <td>
                    <img src="<%= v.photo_url %>"
                         alt="<%= %>"
                         class="img-thumbnail"
                         width="100px"
                         height="100px">
                  </td>
                  <td>
                    <%= v.num_serial %>
                  </td>
                  <td>
                    <%= link_to v.model.brand.name, ad_brand_path(v.model.brand),class:"btn btn-link btn-sm" %>
                  </td>
                  <td>
                    <%= v.model.name %>
                  </td>
                  <td><%= link_to raw("<i class='fa fa-eye' aria-hidden='true'></i> Voir"), ad_vehicle_path(v),class: "btn btn-primary btn-sm" %></td>
                  <td><%= link_to raw("<i class='fa fa-edit' aria-hidden='true'></i> Modifier"), edit_ad_vehicle_path(v),class: "btn btn-info btn-sm" %></td>
                  <td><%= link_to raw("<i class='fa fa-trash' aria-hidden='true'></i> Supprimer"), v, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm"%></td>
                </tr>
              <% end %>
              </tbody>
            </table>

            <%= will_paginate @vehicles %>

          </div>
        </div>
      </div>
    </div>
  </div><!-- .animated -->
</div><!-- .content -->
</div><!--DO NOT DELETE close right-panel in header.html.erb DO NOT DELETE-->



