<div class="breadcrumbs">
  <div class="col-sm-4">
    <div class="page-header float-left">
      <div class="page-title">
        <h1>
          <%= @vehicle.model.name %>
        </h1>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="page-header float-right">
      <div class="page-title">
        <ol class="breadcrumb text-right">
          <li class="active"><%= link_to 'Véhicules', ad_vehicles_path %> / <%= @vehicle.model.name %></li>
        </ol>
      </div>
    </div>
  </div>
</div>
<p id="notice"><%= notice %></p>
<div class="content mt-3">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <strong class="card-title">
              Information pratique
              <div class="float-right">
                <%= link_to raw("<i class='fa fa-edit' aria-hidden='true'></i> Modifier"), edit_ad_vehicle_path(@vehicle), class: "btn btn-info btn-sm" %>
              </div>
            </strong>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3 col-md-6 text-center">
                <img src="<%= @vehicle.photo_url %>"
                     alt="<%= %>"
                     class="img-thumbnail"
                     width="200px"
                     height="200px">
              </div>
              <div class="col-sm-9 col-md-6">
                <h4><%= @vehicle.model.name %></h4>
                <hr>
                <ul class="list">
                  <li class="list">Numéro de série: <%= @vehicle.num_serial %></li>
                  <li class="list">Km : <%= @vehicle.num_km %></li>
                  <li class="list">Date d'achat : <%= @vehicle.buying_date %></li>
                  <li class="list">Prix d'achat : <%= @vehicle.buying_price %></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content mt-3">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <strong class="card-title">
              Location
            </strong>
          </div>
          <div class="card-body">
            <table id="bootstrap-data-table" class="table table-striped table-bordered">
              <thead>
              <tr>
                <th>Info Client</th>
                <th>Date début&nbsp;/&nbsp;fin <br/>Km</th>
                <th>Penaliter</th>
                <th colspan="3">Action</th>
              </tr>
              </thead>
              <tbody>
              <% @vehicle.leasings.each do |leasing| %>
                <tr>
                  <td>
                    Nom: <%= link_to leasing.user.last_name, ad_user_path(leasing.user),class:"btn btn-link btn-sm" %>
                    <br>
                    Email: <%= leasing.user.email %>
                    <br>
                    Tel : <%= leasing.user.phone %>
                  </td>
                  <td>
                    Date debut: <%= leasing.beginning_date %>
                    <br>
                    Date fin: <%= leasing.end_date %>
                    <br>
                    Km: <%= leasing.limit_km %>
                    <br>
                  </td>
                  <td><%= leasing.penalty %></td>
                  <td><%= link_to raw("<i class='fa fa-eye' aria-hidden='true'></i> Voir"), ad_leasing_path(leasing),class: "btn btn-primary btn-sm" %></td>
                  <td><%= link_to raw("<i class='fa fa-edit' aria-hidden='true'></i> Modifier"), edit_ad_leasing_path(leasing),class: "btn btn-info btn-sm" %></td>
                  <td><%= link_to raw("<i class='fa fa-trash' aria-hidden='true'></i> Supprimer"), leasing, method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-danger btn-sm" %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div><!--DO NOT DELETE close right-panel in header.html.erb DO NOT DELETE-->



