<footer class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
<div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-12">
      <h4 class="footer-title">
        <span><u>Retrouver-nous sur :</u></span>
      </h4>
      <ul class="social">
        <li><a class="social-link" href="#"><i class="fa fa-facebook-square"></i></a></li>
        <li><a class="social-link" href="#"><i class="fa fa-twitter-square"></i></a></li>
        <li><a class="social-link" href="#"><i class="fa fa-instagram"></i></a></li>
      </ul>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
      <h4 class="footer-title">
        <span><u>Le mot de la fin :</u></span>
      </h4>
      <p>eMove s'engage à toujours vous fournir la meilleure expérience possible, nos équipes se tiennent à votre entière disposition
        afin de pleinement vous satisfaire.</p>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
      <h4 class="footer-title">
        <span><u>Navigation :</u></span>
      </h4>
      <ul class="menu-footer">
        <li class="footer-link"><%= link_to 'Vehicules', vehicles_path, class: 'nav-link' %></li>
        <li class="footer-link"><%= link_to 'Marques', brands_path, class: 'nav-link' %></li>
      </ul>
    </div>
  </div>
</div>
</footer>