<nav class="navbar navbar-dark bg-dark navbar-expand-md fixed-top nav-down py-3">
  <%= link_to 'eMove', '/', class: 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <%= link_to 'Vehicules', vehicles_path, class: 'nav-link' %>
      </li>
      <li class="nav-item active">
        <%= link_to 'Marques', brands_path, class: 'nav-link' %>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to 'Mon compte',current_user, class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to 'Se deconnecter',destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
      <% else %>
        <li class="nav-item active">
          <%= link_to 'Connexion',new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
      <li class="nav-item active">
        <%= link_to 'Admin', ad_root_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</nav>