<!DOCTYPE html>
<html>
<head>
  <title>EMoveI</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<%= render partial: 'layouts/header' %>

<% if notice %>
  <p class="alert alert-success" style="margin-top: 50px"><%= notice %></p>
<% end %>

<% if alert %>
  <p class="alert alert-danger" style="margin-top: 50px"><%= alert %></p>
<% end %>

<%= yield %>

<%= render partial: 'layouts/footer' %>
</body>
</html>
